# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
# created-by: conda 26.1.1
aiohappyeyeballs=2.6.1=pyhd8ed1ab_0
aiohttp=3.13.3=py311h6771f6e_0
aiosignal=1.4.0=pyhd8ed1ab_0
aiosqlite=0.22.1=pypi_0
annotated-doc=0.0.4=pypi_0
annotated-types=0.7.0=pypi_0
anyio=4.13.0=pypi_0
appnope=0.1.4=pypi_0
argon2-cffi=25.1.0=pypi_0
argon2-cffi-bindings=25.1.0=pypi_0
asttokens=3.0.1=pypi_0
attrs=26.1.0=pyhcf101f3_0
backports.zstd=1.3.0=py311hee243d0_0
bcrypt=5.0.0=pypi_0
blockbuster=1.5.26=pypi_0
brotli-python=1.2.0=py311hdc60ec4_1
bzip2=1.0.8=hd037594_9
ca-certificates=2026.2.25=hbd8a1cb_0
cachetools=7.0.6=pypi_0
certifi=2026.2.25=pyhd8ed1ab_0
cffi=2.0.0=py311hd10dc20_1
charset-normalizer=3.4.6=pyhd8ed1ab_0
click=8.3.1=pypi_0
cloudpickle=3.1.2=pypi_0
comm=0.2.3=pypi_0
croniter=6.2.2=pypi_0
cryptography=46.0.5=py311hfdedaa2_0
dashscope=1.25.15=pyhcf101f3_0
dataclasses-json=0.6.7=pypi_0
datetime=6.0=pypi_0
debugpy=1.8.20=pypi_0
decorator=5.2.1=pypi_0
distro=1.9.0=pypi_0
dotenv=0.9.9=pypi_0
dynaconf=3.2.13=pypi_0
ecdsa=0.19.2=pypi_0
executing=2.2.1=pypi_0
fastapi=0.135.2=pypi_0
filelock=3.29.0=pypi_0
forbiddenfruit=0.1.4=pypi_0
frozenlist=1.8.0=pypi_0
fsspec=2026.3.0=pypi_0
googleapis-common-protos=1.73.1=pypi_0
gradio=6.13.0=pypi_0
gradio-client=2.5.0=pypi_0
groovy=0.1.2=pypi_0
grpcio=1.78.0=pypi_0
grpcio-health-checking=1.78.0=pypi_0
grpcio-tools=1.78.0=pypi_0
h11=0.16.0=pypi_0
h2=4.3.0=pyhcf101f3_0
hf-gradio=0.4.1=pypi_0
hf-xet=1.4.3=pypi_0
hpack=4.1.0=pyhd8ed1ab_0
httpcore=1.0.9=pypi_0
httptools=0.7.1=pypi_0
httpx=0.28.1=pypi_0
httpx-sse=0.4.3=pypi_0
huggingface-hub=1.11.0=pypi_0
hyperframe=6.1.0=pyhd8ed1ab_0
icu=78.3=hef89b57_0
idna=3.11=pyhd8ed1ab_0
importlib-metadata=8.7.1=pypi_0
ipykernel=7.2.0=pypi_0
ipython=9.10.0=pypi_0
ipython-pygments-lexers=1.1.1=pypi_0
jedi=0.19.2=pypi_0
jinja2=3.1.6=pypi_0
jiter=0.13.0=pypi_0
jsonpatch=1.33=pypi_0
jsonpointer=3.1.1=pypi_0
jsonschema-rs=0.44.1=pypi_0
jupyter-client=8.8.0=pypi_0
jupyter-core=5.9.1=pypi_0
langchain=1.2.13=pypi_0
langchain-classic=1.0.3=pypi_0
langchain-community=0.4.1=pypi_0
langchain-core=1.2.21=pypi_0
langchain-deepseek=1.0.1=pypi_0
langchain-openai=1.1.12=pypi_0
langchain-text-splitters=1.1.1=pypi_0
langgraph=1.1.3=pypi_0
langgraph-api=0.7.90=pypi_0
langgraph-checkpoint=4.0.1=pypi_0
langgraph-checkpoint-sqlite=3.0.3=pypi_0
langgraph-cli=0.4.19=pypi_0
langgraph-prebuilt=1.0.8=pypi_0
langgraph-runtime-inmem=0.27.0=pypi_0
langgraph-sdk=0.3.12=pypi_0
langsmith=0.7.22=pypi_0
libcxx=22.1.2=h55c6f16_0
libexpat=2.7.4=hf6b4638_0
libffi=3.5.2=hcf2aa1b_0
liblzma=5.8.2=h8088a28_0
libsqlite=3.52.0=h1ae2325_0
libzlib=1.3.2=h8088a28_2
loguru=0.7.3=pypi_0
markdown-it-py=4.0.0=pypi_0
markupsafe=3.0.3=pypi_0
marshmallow=3.26.2=pypi_0
matplotlib-inline=0.2.1=pypi_0
mdurl=0.1.2=pypi_0
multidict=6.7.1=py311ha275503_0
mypy-extensions=1.1.0=pypi_0
ncurses=6.5=h5e97a16_3
nest-asyncio=1.6.0=pypi_0
numpy=2.4.3=pypi_0
openai=2.29.0=pypi_0
openssl=3.6.1=hd24854e_1
opentelemetry-api=1.40.0=pypi_0
opentelemetry-exporter-otlp-proto-common=1.40.0=pypi_0
opentelemetry-exporter-otlp-proto-http=1.40.0=pypi_0
opentelemetry-proto=1.40.0=pypi_0
opentelemetry-sdk=1.40.0=pypi_0
opentelemetry-semantic-conventions=0.61b0=pypi_0
orjson=3.11.7=pypi_0
ormsgpack=1.12.2=pypi_0
packaging=26.0=pyhcf101f3_0
pandas=3.0.2=pypi_0
parso=0.8.6=pypi_0
passlib=1.7.4=pypi_0
pexpect=4.9.0=pypi_0
pillow=12.2.0=pypi_0
pip=24.3.1=pypi_0
platformdirs=4.9.4=pypi_0
prompt-toolkit=3.0.52=pypi_0
propcache=0.4.1=pypi_0
protobuf=6.33.6=pypi_0
psutil=7.2.2=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.3=pypi_0
pyasn1=0.6.3=pypi_0
pycparser=2.22=pyh29332c3_1
pydantic=2.12.5=pypi_0
pydantic-core=2.41.5=pypi_0
pydantic-settings=2.13.1=pypi_0
pydub=0.25.1=pypi_0
pygments=2.19.2=pypi_0
pyjwt=2.12.1=pypi_0
pymysql=1.1.2=pypi_0
pysocks=1.7.1=pyha55dd90_7
python=3.11.15=h8561d8f_0_cpython
python-dateutil=2.9.0.post0=pypi_0
python-dotenv=1.2.2=pypi_0
python-jose=3.5.0=pypi_0
python-multipart=0.0.26=pypi_0
python_abi=3.11=8_cp311
pytz=2026.1.post1=pypi_0
pyyaml=6.0.3=pypi_0
pyzmq=27.1.0=pypi_0
readline=8.3=h46df422_0
regex=2026.2.28=pypi_0
requests=2.32.5=pypi_0
requests-toolbelt=1.0.0=pypi_0
rich=15.0.0=pypi_0
rsa=4.9.1=pypi_0
safehttpx=0.1.7=pypi_0
semantic-version=2.10.0=pypi_0
setuptools=44.1.1=pypi_0
shellingham=1.5.4=pypi_0
six=1.17.0=pypi_0
sniffio=1.3.1=pypi_0
sqlalchemy=2.0.48=pypi_0
sqlite-vec=0.1.7=pypi_0
sse-starlette=3.3.4=pypi_0
stack-data=0.6.3=pypi_0
starlette=1.0.0=pypi_0
structlog=25.5.0=pypi_0
tenacity=9.1.4=pypi_0
tiktoken=0.12.0=pypi_0
tk=8.6.13=h010d191_3
tomlkit=0.14.0=pypi_0
tornado=6.5.5=pypi_0
tqdm=4.67.3=pypi_0
traitlets=5.14.3=pypi_0
truststore=0.10.4=pypi_0
typer=0.24.1=pypi_0
typing-inspect=0.9.0=pypi_0
typing-inspection=0.4.2=pypi_0
typing_extensions=4.15.0=pyhcf101f3_0
tzdata=2025c=hc9c84f9_1
urllib3=2.6.3=pyhd8ed1ab_0
uuid-utils=0.14.1=pypi_0
uvicorn=0.42.0=pypi_0
uvloop=0.22.1=pypi_0
watchfiles=1.1.1=pypi_0
wcwidth=0.6.0=pypi_0
websocket-client=1.9.0=pyhd8ed1ab_0
websockets=16.0=pypi_0
wheel=0.46.3=pyhd8ed1ab_0
xxhash=3.6.0=pypi_0
yarl=1.23.0=py311hc290fe0_0
zai-sdk=0.2.2=pypi_0
zipp=3.23.0=pypi_0
zope-interface=8.2=pypi_0
zstandard=0.25.0=pypi_0
zstd=1.5.7=hbf9d68e_6
